<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>加入小逗_小逗网络</title>
    <meta name="Keywords" content="小逗网络,小逗网络招聘,产品经理,北京小逗科技有限公司,企业招聘">
    <meta name="Description" content="小逗网络致力于打造全新在线学习平台，重新定义在线教育模式，提倡个性化学习，利用人工智能AI算法，智能知识图谱，打造个性化学习智适应系统，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。">
  <!-- Viewport mobile tag for sensible mobile support -->
  <link href="xd-official/images/xd-ico.png" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--css js begin-->
  <% include ../common/framework-css.ejs %>
  <% include ../common/framework-js.ejs %>
  <!--css js end-->
</head>
<body>
<!--ser top begin-->
<!--top background-->
<div class="in-top">
    <!--top box begin-->
    <div class="top-box w1002">
        <!--top logo begin-->
        <a href="/" class="in-logo f_l" title="北京小逗网络科技有限公司">
            <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
        </a>
        <!--top logo end-->
        <!--top nav begin-->
        <div class="top-nav">
          <ul>
            <li>
              <a href="/">首页</a>
            </li>
            <li>
              <a href="/products">产品展区</a>
            </li>
<!--            <li>
              <a href="/xddt">小逗动态</a>
            </li>-->
            <li>
              <a href="/services">企业服务</a>
            </li>
            <li>
              <a href="/joinUs" class="active">加入小逗</a>
            </li>
            <li>
              <a href="/aboutUs">关于小逗</a>
            </li>
          </ul>
        </div>
        <ul class="phoneNav">
          <li><a href="/"> 首页</a></li>
          <li><a href="/products">产品展区</a></li>
          <!--<li><a href="/xddt">小逗动态</a></li>-->
          <li><a href="/services">企业服务</a></li>
          <li><a href="/joinUs" class="present">加入小逗</a></li>
          <li><a href="/aboutUs">关于小逗</a></li>
        </ul>
        <!--导航 btn begin-->
        <div class="top-btn f_r">
            <a class="click"></a>
        </div>
        <!--导航 btn end-->
        <!--top nav end-->
    </div>
    <!--top box end-->
</div>
<!--top background end-->
<!--ser top end-->

<!--benner begin-->
<div class="in-part">
  <div class="join-banner">
  <div class="join-banner-box w1002">
    <img src="xd-official/images/join-ban.png" alt="加入我们banner" class="banner-img">
  </div>
</div>
</div>
<!--banner end-->
<!--content begin-->
<div class="join-content">
    <div class="join-box w1002">
        <h3>加入我们</h3>
        <div class="join-detail clearfix" id="join-details">
            <div class="join-d1">
                <strong>技术部</strong>
                <p><a class="android">android工程师</a></p>
                <p><a class="ios">IOS工程师</a></p>
                <p><a class="system">系统运维工程师</a></p>
            </div>
            <div class="join-d2">
                <strong>产品部</strong>
                <p><a class="designer">资深设计师</a></p>
                <p><a class="product">产品经理</a></p>
            </div>
            <div class="join-d3">
                <strong>市场部</strong>
                <p><a class="ad">广告策划经理</a></p>
                <p><a class="business">运营经理</a></p>
            </div>
        </div>

        <div class="job-shadow" id="android">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>android</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、 负责安卓客户端软件的开发与维护<br>2、独立完成客户端软件需求的整理和软件设计</p>
                    <strong>职位要求：</strong>
                    <p>1、大学本科以上学历，计算机相关专业，有扎实的Java语言基础<br>
                      2、熟悉网络编程、安卓UI框架及相关开发工具<br>
                      3、两年以上安卓集开发经验，有上线产品者优先<br>
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="ios">
            <div class="job-box">
                <a  class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>IOS工程师</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、 负责公司产品在ios平台应用软件的设计、开发、更新<br>2、按照项目计划，按时提交高质量代码，完成开发任务</p>
                    <strong>职位要求：</strong>
                    <p>1、熟悉C和Objective-C，与IPhone UI各种控件使用<br>
                      2、熟悉Iphone SDK，熟悉TCP、HTTP网络协议<br>
                      3、有商业化的手机应用开发经验，或者其他平台开发经验优先<br>
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="system">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>系统运维工程师</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、负责参与产品（网页、移动设备）的视觉设计、设计流行趋势分析。<br>2、负责日常的运营活动（物料设计）及功能维护提供美术支持。</p>
                    <strong>职位要求：</strong>
                    <p>1、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        2、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        3、了解iOS及安卓的设计规范。<br>
                        4、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        5、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        6、了解iOS及安卓的设计规范。
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="designer">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>资深设计师</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、负责参与产品（网页、移动设备）的视觉设计、设计流行趋势分析。<br>2、负责日常的运营活动（物料设计）及功能维护提供美术支持。</p>
                    <strong>职位要求：</strong>
                    <p>1、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        2、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        3、了解iOS及安卓的设计规范。<br>
                        4、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        5、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        6、了解iOS及安卓的设计规范。
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="product">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>产品经理</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、负责参与产品（网页、移动设备）的视觉设计、设计流行趋势分析。<br>2、负责日常的运营活动（物料设计）及功能维护提供美术支持。</p>
                    <strong>职位要求：</strong>
                    <p>1、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        2、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        3、了解iOS及安卓的设计规范。<br>
                        4、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        5、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        6、了解iOS及安卓的设计规范。
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="ad">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>广告策划经理</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、负责参与产品（网页、移动设备）的视觉设计、设计流行趋势分析。<br>2、负责日常的运营活动（物料设计）及功能维护提供美术支持。</p>
                    <strong>职位要求：</strong>
                    <p>1、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        2、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        3、了解iOS及安卓的设计规范。<br>
                        4、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        5、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        6、了解iOS及安卓的设计规范。
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
        <div class="job-shadow" id="business">
            <div class="job-box">
                <a class="close">
                    <img src="xd-official/images/close.jpg" height="24" width="24" alt="关闭" class="close-btn">
                </a>
                <div class="job-title clearfix">
                    <h4>运营经理</h4>
                    <span>经验3-5年/本科/全职</span>
                </div>
                <div class="job-main">
                    <p>经验3-5年/本科/全职</p>
                    <strong>岗位职责:</strong>
                    <p>1、负责参与产品（网页、移动设备）的视觉设计、设计流行趋势分析。<br>2、负责日常的运营活动（物料设计）及功能维护提供美术支持。</p>
                    <strong>职位要求：</strong>
                    <p>1、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        2、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        3、了解iOS及安卓的设计规范。<br>
                        4、3年以上工作经验，对网站或移动产品设计有丰富经验、有成功案例<br>
                        5、熟练使用PS\AI等工具，能准确的把握设计色彩和板式搭配。<br>
                        6、了解iOS及安卓的设计规范。
                    </p>
                </div>
                <div class="em">简历投递：hr@corp.51xiaodou.com</div>
            </div>
        </div>
    </div>
</div>
<!--content end-->
<!--map begin-->
<div class="in-map">
  <div class="in-map-box w1002">
    <div class="in-map-title">
      <h3>公司地图</h3>
    </div>
    <div class="in-map-img">
      <img src="xd-official/images/map.jpg" width="999" height="477" alt="公司地图">
    </div>
  </div>
</div>
<!--map end-->
</body>
<!--<script>
  window.onload = function () {
    var aBtn = document.getElementById('join-details').getElementsByTagName('a');
    for (var i = 0; i < aBtn.length; i++) {
      aBtn[i].onclick = function () {
        var name = $(this).attr("class");
        $("#"+name).show();
      }
    }
    $('.close-btn').click(function () {
      $(this).parent().parent().parent().hide();
    });
  };
</script>-->
</html>
