
      <div class="logo"><img src="images/cailogo_03.png"> </div>
      <div class="click"><img src="images/click_03.png"> </div>
      <ul class="nav">
          <li data-id="index"><a href="index.html"> 首页</a></li>
          <li data-id="joinUs"><a href="joinUs.html">加入我们</a></li>
          <li data-id="business"><a href="business.html">商务合作</a></li>
          <li data-id="contactUs"><a href="contactUs.html">联系我们</a></li>
          <li data-id="aboutUs"><a href="aboutUs.html">关于小逗</a></li>
      </ul>
      <ul class="phoneNav">
          <li data-id="index"><a href="index.html"> 首页</a></li>
          <li data-id="joinUs"><a href="joinUs.html">加入我们</a></li>
          <li data-id="business"><a href="business.html">商务合作</a></li>
          <li data-id="contactUs"><a href="contactUs.html">联系我们</a></li>
          <li data-id="aboutUs"><a href="aboutUs.html">关于小逗</a></li>
      </ul>
