<!DOCTYPE html>
<html lang="en">
<head>
    <title>关于小逗_小逗网络</title>
    <meta name="Keywords" content="小逗网络,小逗网络官网,北京小逗科技有限公司,在线教育,在线学习,高等教育学习与测量,在线教育平台">
    <meta name="Description" content="小逗网络致力于打造全新在线学习平台，重新定义在线教育模式，提倡个性化学习，利用人工智能AI算法，智能知识图谱，打造个性化学习智适应系统，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。">
  <!-- Viewport mobile tag for sensible mobile support -->
  <link href="xd-official/images/xd-ico.png" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--css js begin-->
  <% include ../common/framework-css.ejs %>
  <% include ../common/framework-js.ejs %>
  <!--css js end-->

</head>
<body>
<!--ser top begin-->
<!--top background-->
<div class="in-part">
  <div class="in-top">
    <!--top box begin-->
    <div class="top-box w1002">
        <!--top logo begin-->
        <a href="/" class="in-logo f_l" title="北京小逗网络科技有限公司">
            <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
        </a>
        <!--top logo end-->
        <!--top nav begin-->
      <div class="top-nav">
        <ul>
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="/products">产品展区</a>
          </li>
<!--          <li>
            <a href="/xddt">小逗动态</a>
          </li>-->
          <li>
            <a href="/services">企业服务</a>
          </li>
          <li>
            <a href="/joinUs">加入小逗</a>
          </li>
          <li>
            <a href="/aboutUs" class="active">关于小逗</a>
          </li>
        </ul>
      </div>
      <ul class="phoneNav">
        <li><a href="/"> 首页</a></li>
        <li><a href="/products">产品展区</a></li>
        <!--<li><a href="/xddt">小逗动态</a></li>-->
        <li><a href="/services">企业服务</a></li>
        <li><a href="/joinUs">加入小逗</a></li>
        <li><a href="/aboutUs" class="present">关于小逗</a></li>
      </ul>
        <!--导航 btn begin-->
        <div class="top-btn f_r">
            <a class="click"></a>
        </div>
        <!--导航 btn end-->
    </div>
    <!--top box end-->
</div>
</div>
<!--top background end-->
<!--ser top end-->

<!--about banner begin-->
<div class="about-banner">
  <div class="about-banner-box w1002">
    <img src="xd-official/images/about-ban.png" alt="关于我们banner" class="banner-img">
  </div>
</div>
<!--about banner end-->

<!--about content begin-->
<div class="about-content">
    <div class="about-cont-box w1002">
        <div class="about-cont">
            <div class="about-main">
                <h3>公司简介 Introduction</h3>
                <p>在全面“教育信息化” 时代，教育信息资源不再稀缺，大量教育信息的机械堆砌早已不能满足教育发展需要 ，如何将海量的碎片化信息做出智能化筛选,以满足学习者个性化需求,从而真正提高在线教育的学习效率，实现“教育信息化”向 “教育智能化”的转变，成为教育与互联网科技结合过程中的全新挑战 。</p>
                <p>北京小逗网络科技有限公司成立于2014年，注册资金500万，是中关村高新技术企业。小逗团队通过总结资深教育工作者的一线实践经验，认为教育智能化是在线教育发展的必然方向 。小逗团队以“个性化学习” 为突破点，致力于打造全新在线学习平台，旨在重新定义在线教育，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。</p>

                <h3>发展历程 Process</h3>
                <strong>思路</strong>
                <p>在慕课、翻转课堂、微课、云端大学等许多新名词、新运动不断兴起的今天 ，“教育信息化”已不再新鲜。然而，信息技术在教育领域的应用成效并不明显，信息技术对教育生产力的提升似乎依然起着一种“锦上添花”的作用，很难说对教育发展产生革命性影响 。归根结底，单纯的信息化已经不能适应时代发展的需求，教育信息化建设从数字技术进入智能化时代，智慧教育成为教育信息化发展的新趋势。</p>
                <p>2011年，“乔布斯之问”轰动国际教育技术领域：“为什么计算机改变了几乎所有领域，却唯独对学校教育的影响小得令人吃惊？” 很显然，这不是仅仅是对技术提出问题，更是对教育提出问题，进一步说，是对教育信息化改革走向的发问。</p>
                <p>无论学校教育，亦或在线教育，从“追风逐云”转向提升质量 几乎是教育变革的必然趋势。然而，对于如何提升质量，却依然是个未知数。但这种未知自有其魅力：既让人满怀憧憬，也赋予教育更多可能，同时也使小逗的未来发展充满无限空间。</p>
                <p>小逗团队认为，提升教育质量，关键在于提高学习效率。要实现这个目的，必须以个性化学习为手段，最终实现教育信息化向智能化的过渡，促进教育系统的结构性变革。</p>
                <strong>来历</strong>
                <p>若要实现信息技术真正对教育发展产生革命性影响，发展“混合式教育” ，必须提高在线学习的学习效率。学习效率低下，多是由于学生学习积极性不高，学习内容枯燥等原因导致，但归根结底，是由于没有实现针对个体的“个性化教育”。</p>
                <p>个性化学习的实现，需要通过针对个体的个性化测量来制定个性化方案，满足不同个体的差异性需求，从而实现真正的因材施教。个性化的测量则需要真实有效的数据采集和客观公正的数据测量。目前各大学习测量平台在运作过程中，不乏科学的测量体系，但在如何保证数据采集的真实、有效，避免可能存在的人为干扰这一领域，几乎一片空白。没有真实有效的数据，测量结果的科学性和客观性就难以真正实现。</p>
                <p>针对这一现状，小逗公司组建由主流互联网公司技术大牛和知名游戏公司的运营专家组成的核心团队，一方面从平台的技术模式和框架设计上，为用户打造情景化学习模式和个性化界面，通过多样化的学习模式，实现混合式教育，从而提高用户使用平台的活跃度，保证数据采集的“量”；更重要的是，创造真实有效的数据采集方案，通过对用户学习和考试的全过程进行埋点监控，对数据进行多维度收集，使得数据采集客观公正，避免人为因素的干扰，保证数据采集的“质”，为个性化测量提供真实可靠的数据支持。</p>
                <p>同时小逗团队聚集了一线高等教育工作者，根据教育测量学理论进行题库建设和教学内容制作，为数据评价提供科学公正的测量体系，从而实现个性化、定制化学习，提升用户学习体验，最终达到提升学习效率的目的。</p>
                <strong>名称由来</strong>
                <p>“逗”以短暂逗留为本义，以言语行为引逗为引申义 。“小逗”一方面表达每一个学习阶段都像一段短暂的逗留，每一次逗留的背后，都隐含着更大的提升，逗留与前进看似矛盾，实则相辅相成；一方面，小逗团队希望能够时刻与学习者为伴，另一方面，通过小逗的产品，让学习者的每一次逗留都充满无限逗趣。</p>
                <p>小逗团队以此为基础，最终实现平台的智能化建设，并通过打造个性化的学习和测量平台，提升学习、考试的趣味性，同时聚集同类人才，在拓宽个人的社交圈的同时真正做到提升学习效率和主动性。让每个用户都能够通过小逗的平台，体会到在线学习的乐趣。“逗”是一种乐观的态度，更是一种生活哲学。小逗团队保持“逗”的精神，并努力通过产品，将“小逗”传递给更多的人。</p>
                <strong>历程</strong>
                <img src="/xd-official/images/about-xd.jpg" alt="关于小逗">

                <h3>产品服务 Products</h3>
                <strong>高等教育学习和测量平台</strong>
                <p>2015年11月，小逗团队以多年教育的理论和实践经验为基础，开发“高等教育学习和测量平台”，致力于打造面向高等教育的个性化学习方案，从而提高学习效率，对在线学习和测评体系进行革命性创新，一方面促进教育智能化，另一方面实现在线教育和混合式教育的完美结合。</p>

                <strong>高等教育学习和测量平台具有以下特点：</strong>
                <p><span>广泛全面的数据采集：</span>这是整个高等教育学习和测量平台的一大亮点。平台通过H5课件、动态题库、随机PK、学习圈和讨论圈等模块，辅之以“类游戏”的情景化设计和个性化界面，刺激用户的学习积极性，并开创性的对用户在各个模块的学习以及考试过程进行全程埋点监控，不断收集、更新和调整数据，最大限度的避免了人为因素的干扰，保证数据采集的全面、客观和多维度。</p>
                <p><span>科学客观的数据评价：</span>根据教育测量学，综合大量数据能对学生的学习能力、学习态度等进行客观公正的评价。测评成绩直接对接考试院，测量过程全自动化，节省人力，并且排除人为因素影响，真正做到客观公正。</p>
                <p><span>订制个性化方案：</span>平台最大限度的满足了用户的自主能动性，用户可以自主的调控学习内容和进度，同时智能任务系统也会根据学生的学习能力、学习现状，为其规划出达成学习任务的最短路径，提供个性化的学习方案。并且随着学习进度动态调整任务量和任务类型，帮助用户以最高效的方式达成学习目标。</p>
                <p><span>实现混合式教育：</span>考点章节精讲、闯关测试与主题讨论师生互动相结合，把传统的老师与学生面对面教学的优势和网络化学习的优势结合起来，对教与学的关系进行重新思考与重新设计，深度融合“传递—接受式”教学观念与“自主—探究式”教学观念，兼取两者之长，从而取得最优化学习效果的学习方式 。</p>
                <p></p>

                <h3>技术成果 Achievements</h3>
                <p>为早日实现智能化教育技术的产品化目标，小逗团队以高等教育学习和测量体系为研究重点，集中精力对高等教育的学习、考试和测量体系进行剖析和分解，并据此对平台进行产品设计和技术研发，集思广益，开拓创新，取得了一系列技术成果。</p>
                <strong>Live跨平台视频直播技术</strong>
                <p>可以支持 RTP、RTSP 协议的音视频直播流处理、高清4K视频、移动端视频源采集、M3U8 Live 播放等程序，同时兼容IE、Chrome、Firefox、Safari等主流浏览器以及移动端浏览器，实现跨平台实时互动课程讲解，让用户在pc端，平板电脑和手机端都可以正常播放视频。</p>
                <strong>Communication实时音频视频通讯系统</strong>
                <p>基于实时媒体数据路由、混码技术的语音和视频通话和会议，通过白板、即时消息的实时协作，实时短语音、视频剪辑分发以及跨平台音视频通讯，进行多媒体音视频直播，并且保证移动端优先。同时可以进行云端文档共享与管理以及日常会议计划安排。</p>
                <strong>Data Wisdom 智慧数据分析系统</strong>
                <p>通过大数据手段，对用户在平台的学习数据进行采样、挖掘，构建有针对性的模型进行分析，并结合数据可视化，以图表等方式，将领域知识、数学、方法论与经验、理解、常识、洞察力、良好的判断力相结合，为其他系统提供强有力的数据支持和决策依据。</p>
                <strong>Evaluation诊断性评测系统</strong>
                <p>通过建立诊断用户认知及能力等方面的测评系统，依靠智慧数据分析系统，对考生的学习数据进行实时采集记录，结合报表分析给出智能评价，多维度智能组卷，确保测量内容精细且覆盖全面，即保证测量的深度又不失系统性，通过不断的练习摸清用户知识掌握程度的最高限，不断修正评价结果。</p>
                <strong>Intelligentize智能化任务系统</strong>
                <p>依据智慧数据分析系统的动态算法模型，对用户的学习过程实现动态采集与分析，摸清用户的学习能力和知识掌握程度。通过智能任务模型，规划出学习最短路径，并针对用户学习的不同阶段，安排不同的学习任务，提供个性化解决方案，指导学生科学高效地进行学习，最终圆满达成学习目标。</p>
                <strong>Editor 专属HTML5编辑器</strong>
                <p>利用HTML5技术开发的课件编辑器，可视化的操作界面使教师能自行制作出图文混排的H5课件，产出内容类似于于PPT课件展示的教学视频。课件实时上传平台，学生端同步更新。学生在观看课件时可自主控制学习进程，根据自身情况把握学习重点。</p>

                <h3>公司战略 Strategies</h3>
                <p>小逗公司采用DB、BOO等模式，广泛与教育机构以及各大高校对接，为其提供平台化服务，广泛合作资源共享优势互补，通过app开发，最终实现从应用到大平台的发展思路，打造全新的小逗生态圈，为在线教育提供全新的发展方案，提升学习效率，将互联网、智能技术、数据分析等各种技术运用到教育当中，满足学生在个性化、动态发展等方面的需求，促进智能化教育教学的变革。</p>
            </div>
        </div>
    </div>
</div>
<!--about content end-->
</body>
</html>
