<!--index footer begin -->
<div class="in-footer">
  <div class="in-footer-box w1002 clearfix">
    <div class="in-footer-l">
      <h4>联系我们</h4>
      <!-- <p>电话：010-57299656</p> --> 
      <p>商务合作：market@corp.51xiaodou.com</p>
      <p>技术支持：support@corp.51xiaodou.com</p>
      <p>公司地址：北京朝阳区惠新东街11号紫光发展大厦B2座8层</p>
    </div>
    <div class="in-footer-r">
      <div class="code2">
        <a href="http://www.moycp.com/moshare">
          <img src="xd-official/images/mu.png" alt="慕享">
        </a>
      </div>
      <div class="code1">
        <a href="http://www.moycp.com/">
          <img src="xd-official/images/yun.png" alt="慕享云测评">
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      版权所有：北京小逗网络科技有限公司　京ICP备14049531号-1　
      <div style="display: inline-block;margin:0 auto;">
        <img src="xd-official/images/batb.png" style="width: 18px;height: 18px;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502035129" style="display:inline-block;text-decoration:none;">
        <p style="color:#ffffff;margin: 0px 6px 0px 2px;">京公网安备 11010502035129号</p></a>
      </div>
      <em style="display: inline-block;line-height: 13px;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260920013'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260920013%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></em>
    </div>
  </div>
</div>
<!--index footer end-->
