* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    margin:0;
    padding:0;
    position: relative;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
header{
    width: 100%;
    height: 620px;
    background: #3784f9;
}
.headCenter{
    position: relative;
    width: 1000px;
    height: 620px;
    margin:0 auto;
    background: #3784f9;
}
.headCenter .douBack{
    position: absolute;
    bottom: 0;
    margin-top: 15px;
    width: 1000px;
}
.headCenter .douBack img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.headCenter .phone{
    margin-top: 80px;
    width: 100%;
    display: none;
}
.headCenter .phone img{
    width: 100%;
}
.headCenter .mobileBack{
    position: relative;
    display: none;
}
.block{
    width: 100%;
    height: 400px;
    background:#f5f5f5 ;
    padding-top: 50px;
}
.block img{
    display: block;
    width: 936px;
    margin:0 auto;
}
.mblock{
    display: none;
    background:#f5f5f5 ;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}
.mblock img{
    display: block;
    width: 85%;
    margin:0 auto;
}
.content{
    background: #ffffff;
}
.content .contentCenter{
    width: 990px;
    margin:0 auto;
}
.content .contentCenter .title{
    width: 188px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    color:#3784f9;
    font-size: 20px;
}
.content .contentCenter .title img{
    width: 100%;
}
.content .contentCenter .group{
    margin-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px dashed #d9d9d9;
    overflow: auto;
}
.content .contentCenter .group:last-child{
   border:none;
}
.content .contentCenter .word1{
    width: 370px;
    float:left;
}
.content .contentCenter .picture1{
    width: 539px;
    float:right;
}
.content .contentCenter .word2{
    width: 430px;
    float:right;
}
.content .contentCenter .picture2{
    width: 519px;
    float:left;
}
.content .contentCenter .word3{
    width: 356px;
    float:left;
}
.content .contentCenter .picture3{
    width: 495px;
    float:right;
}
.content .contentCenter .word4{
    width: 429px;
    float:right;
}
.content .contentCenter .picture4{
    width: 481px;
    float:left;
}
.content .contentCenter .word5{
    width: 366px;
    float:left;
}
.content .contentCenter .picture5{
    width: 496px;
    float:right;
}

.content .contentCenter .mobile{
    display: none;
}
.content .contentCenter .mobile .mtitle{
    width: 98%;
    color:#3784f9;
    /*padding-bottom: 5px;*/
    border-bottom: 1px solid #3784f9;
    padding-left: 10px;
}
.content .contentCenter .mobile .mtitle div{
    display: block;
    height: 50px;
    line-height: 50px;
    /*float: left;*/
}
.content .contentCenter .mobile .mgroup{
    width: 100%;
    margin:0 auto;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-bottom: 20px;
}
.content .contentCenter .mobile .mgroup:last-child{
    border-bottom: 2px solid #cdcdcd;
    padding-bottom: 50px;
}
.content .contentCenter .mobile .mgroup img{
    width: 90%;
    display: block;
    margin:0 auto;
    margin-top: 25px;
}




.main{
    background: #f5f5f5;
}
.main .mainCenter{
    width: 1000px;
    margin:0 auto;
    background: #f5f5f5;
}
.main .mainCenter .test{
    width: 256px;
    margin:0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
}
.main .mainCenter .test img{
    width: 100%;
}
@media screen and (max-width: 600px) {
    header{
        height: auto;
        min-height: 560px;
    }
    .headCenter{
        width: 100%;
        height: auto;
        min-height:560px;
        overflow: hidden;
    }
    .headCenter .top .click{
        display: block;
    }
    .headCenter .top .nav{
        display: none;
    }
    .mobileText{
        display: block;
    }
    .headCenter .logo{
        margin-left: 10px;
    }
    .headCenter .douBack{
        display: none;
    }
    .headCenter .phone{
        display: block;
    }
    .headCenter .mobileBack{
        width: 100%;
        margin-top: 137px;
        display: block;
    }
    .headCenter .mobileBack img{
        width: 100%;
    }
    .headCenter .mobileBack .button{
        position: absolute;
        bottom: 40px;
        width: 40%;
        height: 30px;
        background: #ffffff;
        color:#3784f9;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        border-radius: 30px;
        left: 0;
        right: 0;
        margin:0 auto;
    }
    .headCenter .logo{
        width: 150px;
        height:39px;
    }

    /*以上为手机头部header部分*/
    .block{
        display: none;
    }
    .mblock{
        display: block;
    }
    .content .contentCenter{
        width: 90%;
        margin:0 auto;
    }
    .content .contentCenter .pc{
        display: none;
    }
    .content .contentCenter .mobile{
        display: block;
    }
    .main .mainCenter{
        width: 100%;
    }
    .main .mainCenter .test{
        width: 40%;
        margin:0 auto;
        padding-bottom: 30px;
    }
    .headCenter .phone{
        display: block;
    }
    /***********************************************************以下为手机底部，footer部分*/
    footer{
        width: 100%;
        height:98px;
        background: #4b4b4b;
    }
    footer .footCenter{
        width: 95%;
        height:98px;
        font-size: 12px;
    }
    footer .footCenter .p1{
        padding-top: 20px;
        /*padding-top: 0px;*/
        letter-spacing: -1px;
        line-height: 20px;
    }
    footer .footCenter .p2{
        margin-top: 0px;
        line-height: 20px;
    }
}
@media screen and (max-width: 320px) {
    .headCenter .mobileBack{
        margin-top:97px;
    }
    .download{
        margin-bottom: 10px;
    }
    .headCenter .phone .mCome .p1{
        top:70px;
    }
    .headCenter .phone .mCome .p2{
        top:120px;
    }
}



















