<!DOCTYPE html>
<html lang="en">
<head>
    <title>小逗动态</title>
    <meta name="Keywords" content="">
</head>
<body>
<!--ser top begin-->
<!--top background-->
<div class="in-top">
    <!--top box begin-->
    <div class="top-box w1002">
        <!--top logo begin-->
        <a href="#" class="in-logo f_l" title="北京小逗网络科技有限公司">
            <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
        </a>
        <!--top logo end-->
        <!--top nav begin-->
        <div class="top-nav">
          <ul>
            <li>
              <a href="/">首页</a>
            </li>
            <li>
              <a href="/products">产品展区</a>
            </li>
<!--            <li>
              <a href="/xddt" class="active">小逗动态</a>
            </li>-->
            <li>
              <a href="/services">企业服务</a>
            </li>
            <li>
              <a href="/joinUs">加入小逗</a>
            </li>
            <li>
              <a href="/aboutUs">关于小逗</a>
            </li>
          </ul>
        </div>
        <ul class="phoneNav">
          <li><a href="/"> 首页</a></li>
          <li><a href="/products">产品展区</a></li>
          <!--<li><a href="/xddt" class="present">小逗动态</a></li>-->
          <li><a href="/services">企业服务</a></li>
          <li><a href="/joinUs">加入小逗</a></li>
          <li><a href="/aboutUs">关于小逗</a></li>
        </ul>
        <!--导航 btn begin-->
        <div class="top-btn f_r">
            <a class="click"></a>
        </div>
        <!--导航 btn end-->
        <!--top nav end-->
    </div>
    <!--top box end-->
</div>
<!--top background end-->
<!--ser top end-->

<!--news begin-->
<div class="news-content">
    <div class="news-box w1002">
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
        <div class="news-list">
            <div class="news-list-l f_l">
                <p>28日</p>
                <span>6月</span>
            </div>
            <div class="news-list-r f_r">
                <h3>生涯规划师</h3>
                <p class="detail">如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法如果你是职场新人，或许会为这些问题感到困扰：职场新人融入成为频繁跳槽大军中的一员；职场新人无法清
                    晰认识自己的职业能力和兴趣方向；职场新人无法清晰个人定位和未来的职业发展；我在职业规划教育行业工
                    作6年多，已经获得国家认证的《生涯规划师》 资质，曾经通过网络答疑在2个月内帮助500人解答了职业发
                    展问题相信在这些方面能为你提供帮助。我愿意与你分享的内容包括：职业发展的阶段性问题解析；
                    帮助梳理个人的能力，兴趣，价值观；帮助学员学习掌握个人职业发展的方法
                    <img src="xd-official/images/news-img.jpg" height="343px" width="858" alt="职业规划师">
                </p>
            </div>
        </div>
    </div>
</div>
<!--news end-->
</body>
</html>
