@charset "utf-8";
/* CSS Document */
/*全局控制*/
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "微软雅黑";
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

html, body {
    width: 100%;
    height: 100%;
}

.mainBody {
    width: 100%;
    height: 100%;
    /*min-width: 1000px;*/
    /*min-height: 700px;*/
}

.mainBody .left {
    width: 30%;
    height: 100%;
    float: left;
    /*background: #a863ea;*/
}

.mainBody .left p {
    font-size: 16px;
    color: #555555;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 30px;
}

.mainBody .mid {
    width: 30%;
    height: 100%;
    float: left;
    /*background: #3296f5;*/
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.mainBody .mid p {
    font-size: 16px;
    /*color:#555555;*/
    /*margin-top: 15px;*/
    margin-left: 20px;
    line-height: 30px;
}

.mainBody .mid .iphone {
    width: 405px;
    height: 682px;
    background: #555565;
    border-radius: 7px;
    margin: 0 auto;
    padding-top: 15px;
}

.mainBody .mid .iphone .screen {
    width: 375px;
    height: 667px;
    overflow-y: auto;
    margin-left: 15px;
    /*margin-top: 15px;*/
    background: #ffffff;
    position: relative;
}

.right {
    width: 50%;
    height: 100%;
    float: left;
    /*background: #ef5e99;*/
}

.mainBody .right p {
    font-size: 16px;
    color: #555555;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 30px;
}

.mainBody .right .choose {
    margin-left: 5%;
}

.mainBody .right .choose li {
    float: left;
    width: 80px;
    height: 30px;
    /*border:1px solid #e5e5e5;*/
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    list-style: none;
}

.mainBody .right .choose .on {
    background: #545454;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    /*border-radius: 5px;*/
}

.mainBody .right .rightMain {
    position: relative;
    width: 90%;
    min-height: 300px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}

.mainBody .right .rightMain .contentBox,
.mainBody .right .rightMain .imgBox,
.mainBody .right .rightMain .richTextBox,
.mainBody .right .rightMain .otherBox {
    position: absolute;
    float: left;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

.mainBody .right .rightMain .contentBox {
    display: block;
}

.mainBody .right #enterBtn {
    width: 70px;
    height: 28px;
    background: green;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}

.mainBody .right #deleteBtn {
    width: 70px;
    height: 28px;
    background: #dd0000;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 5%;
    cursor: pointer;
}

.mainBody .right #chapter{
    line-height: 28px;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}

.mainBody .right #saveBtn {
    width: 70px;
    height: 28px;
    background: blue;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 5%;
    cursor: pointer;
}

div.content_wrap {
    width: 600px;
    height: 380px;
}

div.content_wrap div.left {
    float: left;
    width: 250px;
}

div.content_wrap div.right {
    float: right;
    width: 340px;
}

div.zTreeDemoBackground {
    width: 250px;
    height: 362px;
    text-align: left;
}

ul.ztree {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #617775;
    background: #f0f6e4;
    width: 220px;
    height: 360px;
    overflow-y: scroll;
    overflow-x: auto;
}

.ztree li span.button.switch.level0 {
    visibility: hidden;
    width: 1px;
}

.ztree li ul.level0 {
    padding: 0;
    background: none;
}

div#rMenu4 {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #555;
    text-align: left;
    padding: 2px;
}

div#rMenu4 ul li {
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}

div#rMenu5 {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #555;
    text-align: left;
    padding: 2px;
}

div#rMenu5 ul li {
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}