* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height:100%;
    font-family: "微软雅黑";
    font-size: 14px;
    margin:0;
    padding:0;
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.main{
    width: 100%;
    height:100%;
    position: relative;
    margin:0;
    padding:0;
    background-size: 100% 100%;
}
.text{
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    padding-top: 130px;
    margin:0 auto;
    letter-spacing: 2px;
}
.main .box{
    position: relative;
    width: 180px;
    height: 95px;
    border-radius: 8px;
    background: #e78b14;
    margin:0 auto;
    margin-top: 20px;
    box-shadow:inset 0px 1px 3px #b86f10;

}
.day{
    position: absolute;
    font-size: 18px;
    color:#ffffff;
    right:-20px;
    top:30px;
}
.time{
    color:#ffffff;
    font-size: 16px;
    overflow: auto;
    width: 240px;
    margin:0 auto;
    margin-top: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.time .hour{
   float: left;
    width: 50px;
    height: 35px;
    border:1px solid #ffffff;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 26px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,183,152,0.7)));

}
.time .minute{
    float: left;
    width: 50px;
    height: 35px;
    border:1px solid #ffffff;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 26px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,183,152,0.7)));
}
.time .second{
    float: left;
    width: 50px;
    height: 35px;
    border:1px solid #ffffff;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 35px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,183,152,0.7)));
}
.time span{
    display: block;
    float: left;
    line-height: 35px;
    margin-left: 5px;
    margin-right: 5px;
}


