<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="full-screen" content="yes"/>
  <meta name="screen-orientation" content="portrait"/>
  <meta name="x5-fullscreen" content="true"/>
  <meta name="360-fullscreen" content="true"/>
  <title>预览</title>

  <link href="css/output.css" rel="stylesheet">
  <script src="jslib/jquery.js"></script>
  <script src="jslib/TweenMax.min.js"></script>


  <script type="text/javascript" src="js/template.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/menu.js"></script>

</head>
<body>
<div>
  <%- content %>
</div>


</body>
</html>