<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <link href="index.css" rel="stylesheet"/>
    <title></title>
</head>
<body>
<div class="main" id="mstage">
	<% pages.forEach(function(page){ %>
	<div id="<%- page.id %>" class="back">
	<%- page.data %>
    </div>
	<% }) %>
</div>
<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="fat.js"></script>
<script>
    var jsBridge;
    $(document).ready(function(){
        if(navigator.userAgent.match(/Android/i)) {
            try {
                function getText(select) {
                    console.log(select)
                    select.children().each(function () {
                        if ($(this).html() == $(this).text()) {
                            str += $(this).text() + " ";
                        } else {
                            getText($(this));
                        }
                    })
                }
                var str = "";
                getText($("#" + currentPageId + " .detail"));
                str = str.replaceAll("[\\s：\:、]+", "。");
                if(str.charAt(0)=="。"){
                    str=str.substr(1,str.length-1);
                }
                var data = { 'content':str };
                var dataJson = JSON.stringify(data);
                window.js2Android.send(dataJson);
            } catch (e) {
            }
        } else {
            function connectWebViewJavascriptBridge(callback) {
                if (window.WebViewJavascriptBridge) {
                    callback(WebViewJavascriptBridge)
                } else {
                    document.addEventListener('WebViewJavascriptBridgeReady', function() {
                        callback(WebViewJavascriptBridge)
                    }, false)
                }
            }
            connectWebViewJavascriptBridge(function(bridge) {
                jsBridge = bridge;
                bridge.init(function(message, responseCallback) {
                    var data = { 'Javascript Responds':'Wee!' };
                    responseCallback(data)
                });
                bridge.registerHandler('testJavascriptHandler', function(data, responseCallback) {//语音播放完，自动翻页方法
                    nextPage();
                    function getText(select) {
                        console.log(select)
                        select.children().each(function () {
                            if ($(this).html() == $(this).text()) {
                                str += $(this).text() + " ";
                            } else {
                                getText($(this));
                            }
                        })
                    }
                    var str = "";
                    getText($("#" + currentPageId + " .detail"));
                    str = str.replaceAll("[\\s：\:、]+", "。");
                    if(str.charAt(0)=="。"){
                        str=str.substr(1,str.length-1);
                    }
                    var responseData = { 'Javascript Says':currentStr }
                    responseCallback(responseData)
                });
                function getText(select) {
                    console.log(select)
                    select.children().each(function () {
                        if ($(this).html() == $(this).text()) {
                            str += $(this).text() + " ";
                        } else {
                            getText($(this));
                        }
                    })
                }
                var str = "";
                getText($("#" + currentPageId + " .detail"));
                str = str.replaceAll("[\\s：\:、]+", "。");
                if(str.charAt(0)=="。"){
                    str=str.substr(1,str.length-1);
                }
                var data = { 'content':str };
                bridge.send(data, function(responseData) {//用户手动翻页，发送当前页文字
                })
            });
        }
    });
</script>

</body>
</html>