* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    margin:0;
    padding:0;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
header{
    width: 100%;
    height: 740px;
    background: #3784f9;
}
.headCenter{
    width: 1000px;
    height: 740px;
    margin:0 auto;
    background: #3784f9;
}
.QRCode{
    width: 495px;
    float:left;
}
.QRCode .cloud{
   width:285px;
    margin:0 auto;
    margin-top: 110px;
}
.QRCode .cloud img{
    width: 100%;
}
.QRCode .text{
    width: 100%;
    text-align: center;
    color:#ffffff;
    margin-top: 36px;
}
.QRCode .text .p1{
    font-size:48px;
    letter-spacing: 2px;
}
.QRCode .text .p2{
    font-size: 22px;
    margin-top: 5px;
}
.device{
    width: 337px;
    margin:0 auto;
    margin-top: 42px;
    color:#3784f9;
}
.device .iphone{
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    background: #ffffff;
    font-size: 16px;
    float:left;
}
.device .android{
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    background: #ffffff;
    margin-left: 17px;
    font-size: 16px;
    float:left;
}
.device img{
    display: inline-block;
    margin-top: 9px;
    margin-left:20px;
    float: left;
}
.device span{
    float:left;
    margin-left: 14px;
}
.dou{
    float: right;
    width: 354px;
    margin-top: 95px;
}
.dou img{
    width: 100%;
}
.dou .mobile{
    display: none;
}
.mobileText{
    color:#ffffff;
    text-align: center;
    display: none;
}
.mobileText .p1{
    font-size: 28px;
}
.mobileText .p2{
    margin-top: 5px;
    font-size: 16px;
}
.download{
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-top: 15px;
    color:#3784f9;
    font-size: 16px;
    margin-bottom: 50px;
    display: none;
}
.download a{
    color:#3784f9;
}
.main{
    background: #f5f5f5;
}
.main .mainCenter{
    width: 1000px;
    margin:0 auto;
    padding-top: 65px;
    background: #f5f5f5;
}
.main .mainCenter .group1{
    width: 1000px;
    overflow: hidden;
    padding-bottom: 17%;
    position: relative;
}
.main .mainCenter .group1 .group1Text{
    float:left;
    margin-top: 50px;
    width: 319px;
}
.main .mainCenter .group1 .group1Text img{
    width: 100%;
}
.main .mainCenter .group1 .picture1{
    position: absolute;
    width: 530px;
    right: 0;
    float:right;
}
.main .mainCenter .group1 .picture1 img{
    width: 100%;
}
.main .mainCenter .group1 .picture1 .mtu1{
    display: none;
}

.main .mainCenter .group2{
    width: 1000px;
    margin-top: 110px;
    overflow: hidden;
    position: relative;
    padding-bottom: 35%;
    background-attachment: fixed;

}
.main .mainCenter .group2 .group2Text{
    float:right;
    margin-top: 45px;
}
.main .mainCenter .group2 .group2MText{
    float:right;
    width:60%;
    display: none;
}
.main .mainCenter .group2 .group2MText img{
    width:100%
}
.main .mainCenter .group2 .picture2{
    position: absolute;
    width: 599px;
    left: 0;
    float:left;
}
.main .mainCenter .group2 .picture2 img{
    width: 100%;
}
.main .mainCenter .group2 .picture2 .mtu2{
    display: none;
}
.main .mainCenter .group3{
    width: 1000px;
    margin-top: 110px;
    overflow: hidden;
    padding-bottom: 15%;
    position: relative;
}
.main .mainCenter .group3 .group3Text{
    float:left;
    margin-top: 50px;
}
.main .mainCenter .group3 .group3MText{
    float:left;
    width:60%;
    display: none;
}
.main .mainCenter .group3 .group3MText img{
    width:100%
}
.main .mainCenter .group3 .picture3{
    position: absolute;
    width: 560px;
    right: 0;
    float:right;
}
.main .mainCenter .group3 .picture3 img{
    width: 100%;
}
.main .mainCenter .group3 .picture3 .mtu3{
    display: none;
}

.main .mainCenter .group4{
    width: 1000px;
    margin-top: 110px;
    overflow: hidden;
    padding-bottom: 17%;

    position: relative;
}
.main .mainCenter .group4 .group4Text{
    width: 287px;
    float:right;
    margin-top: 45px;
}
.main .mainCenter .group4 .group4Text img{
    width: 100%;
}
.main .mainCenter .group4 .picture4{
    position: absolute;
    width: 553px;
    left: 0;
    float:left;
}
.main .mainCenter .group4 .picture4 img{
    width: 100%;
}
.main .mainCenter .group4 .picture4 .mtu4{
    display: none;
}
.main .test{
   width: 256px;
   margin:0 auto;
   margin-top: 90px;
   padding-bottom: 40px;
}
.main .test img{
   width: 100%;
}


@media screen and (max-width: 600px) {
    header{
        height: auto;
        min-height: 500px;
    }
    .headCenter{
        width: 100%;
        height: auto;
        min-height:500px;
        overflow: hidden;
    }
    .headCenter .top .click{
        display: block;
    }
    .QRCode{
        display: none;
    }
    .dou{
        /*clear: right;*/
        width: 80%;
        margin:0 auto;
        margin-top: 25px;
        float: none;
    }
    .dou .pc{
        display: none;
    }
    .dou .mobile{
        display: block;
    }
    .dou .mobile{
        display: block;
        margin:0 auto;
        margin-bottom: 15px;
        width: 90%;
    }
    .headCenter .top .nav{
        display: none;
    }
    .mobileText{
        display: block;
    }
    .download{
        display: block;
    }
    .headCenter .logo{
        margin-left: 10px;
    }
    .headCenter .logo{
        width: 150px;
        height:39px;
    }
    /*以上为手机头部header部分*/
    .main .mainCenter{
        width: 100%;
        padding-top: 15px;
    }
    .main .mainCenter .group1{
        width: 100%;
        padding-bottom: 80%;
    }
    .main .mainCenter .group2{
        width: 100%;
        margin-top: 35px;
        padding-bottom:100%;
    }
    .main .mainCenter .group3{
        width: 100%;
        margin-top: 35px;
        padding-bottom:80%;
    }
    .main .mainCenter .group4{
        width: 100%;
        margin-top: 35px;
        padding-bottom:85%;
    }
    .main .mainCenter .group1 .group1Text{
        clear: left;
        margin-left: 20px;
        margin-top: 15px;
        width: 70%;
    }
    .main .mainCenter .group1 .picture1{
        position: absolute;
        right:0;
        top:30%;
        width: 82%;
    }
    .main .mainCenter .group1 .picture1 .tu1{
        display: none;
    }
    .main .mainCenter .group1 .picture1 .mtu1{
        display: block;
    }
    .main .mainCenter .group2 .picture2{
        position: absolute;
        left:0px;
        top:23%;
         width: 83%;
     }
    .main .mainCenter .group2 .picture2 .mtu2{
        display: block;
    }
    .main .mainCenter .group2 .picture2 .tu2{
        display: none;
    }
    .main .mainCenter .group2 .group2Text{
        display: none;
    }
    .main .mainCenter .group2 .group2MText{
        margin-right: 20px;
        margin-top: 20px;
        width: 65%;
        display: block;
    }
    .main .mainCenter .group3 .picture3{
        position: absolute;
        right:0px;
        top:16%;
        width: 92%;
    }
    .main .mainCenter .group3 .picture3 .tu3{
        display: none;
    }
    .main .mainCenter .group3 .picture3 .mtu3{
          display: block;
      }




    .main .mainCenter .group3 .group3Text{
        clear:left;
        display: none;
    }
    .main .mainCenter .group3 .group3MText{
        margin-left: 20px;
        width: 60%;
        display: block;
    }
    .main .mainCenter .group4 .group4Text{
        float:right;
        margin-right: 20px;
        width: 65%;
    }
    .main .mainCenter .group4 .picture4{
        clear: left;
        width: 90%;
        position: absolute;
        left:0;
        top:30%;
    }
    .main .mainCenter .group4 .picture4 .tu4{
        display: none;
    }
    .main .mainCenter .group4 .picture4 .mtu4{
        display: block;
    }
    .main .test{
        width: 40%;
        margin:0 auto;
        margin-top: 40px;
        padding-bottom: 20px;
    }
    .main .test img{
        width: 100%;
    }
    /***********************************************************上为手机底部，footer部分*/
    footer{
        width: 100%;
        height:80px;
        background: #4b4b4b;
    }
    footer .footCenter{
        width: 90%;
        height:80px;
        font-size: 12px;
    }
    footer .footCenter .p1{
        padding-top: 20px;
        /*padding-top: 0px;*/
        letter-spacing: -1px;
        line-height: 20px;
    }
    footer .footCenter .p2{
        margin-top: 0px;
        line-height: 20px;
    }
}
@media screen and (max-width: 320px) {
    .download{
        margin-bottom: 10px;
    }
}



















