<!DOCTYPE html>
<html lang="en">
<head>
    <title>产品展区_慕享云测评_小逗网络</title>
    <meta name="Keywords" content="小逗网络,慕享云测评,慕享APP,自学考试,在线学习,学习软件,教育评价,在线教育平台">
    <meta name="Description" content="小逗网络致力于打造全新在线学习平台，重新定义在线教育模式，提倡个性化学习，利用人工智能AI算法，智能知识图谱，打造个性化学习智适应系统，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。">
  <!-- Viewport mobile tag for sensible mobile support -->
  <link href="xd-official/images/xd-ico.png" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--css js begin-->
  <% include ../common/framework-css.ejs %>
  <% include ../common/framework-js.ejs %>
  <!--css js end-->
</head>
<body>
<!--index top begin-->
<!--top background-->
<div class="in-top">
    <!--top box begin-->
    <div class="top-box w1002">
        <!--top logo begin-->
        <a href="#" class="in-logo f_l" title="北京小逗网络科技有限公司">
            <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
        </a>
        <!--top logo end-->
        <!--top nav begin-->
        <div class="top-nav">
          <ul>
            <li>
              <a href="/">首页</a>
            </li>
            <li>
              <a href="/products" class="active">产品展区</a>
            </li>
<!--            <li>
              <a href="/xddt">小逗动态</a>
            </li>-->
            <li>
              <a href="/services">企业服务</a>
            </li>
            <li>
              <a href="/joinUs">加入小逗</a>
            </li>
            <li>
              <a href="/aboutUs">关于小逗</a>
            </li>
          </ul>
        </div>
        <ul class="phoneNav">
          <li><a href="/"> 首页</a></li>
          <li><a href="/products" class="present">产品展区</a></li>
          <!--<li><a href="/xddt">小逗动态</a></li>-->
          <li><a href="/services">企业服务</a></li>
          <li><a href="/joinUs">加入小逗</a></li>
          <li><a href="/aboutUs">关于小逗</a></li>
        </ul>
        <!--导航 btn begin-->
        <div class="top-btn f_r">
            <a class="click"></a>
        </div>
        <!--导航 btn end-->
        <!--top nav end-->
    </div>
    <!--top box end-->
</div>
<!--top background end-->
<!--index top end-->
<!--index banner begin-->
<div class="in-part">
  <div class="pro-banner">
    <img src="xd-official/images/pro-banner-test.jpg" alt="产品展区banner" class="banner-img pro">
  <div class="pro-download w1002">
    <div class="download-wrap">
      <h1>慕享</h1>
      <h2>线上学习与评价解决方案</h2>
      <div class="download">
        <div class="down-l f_l">
          <img src="http://resource.51xiaodou.com/FnBGBYCCk16Z4lbcJL7MeX_nWMnQ" width="165" height="165" alt="iOS客户端二维码">
          <a href="https://itunes.apple.com/cn/app/id1168502067?mt=8" target="_black">iOS客户端下载</a>
        </div>
        <div class="down-r f-r">
          <img src="http://resource.51xiaodou.com/FnBGBYCCk16Z4lbcJL7MeX_nWMnQ" width="165" height="165" alt="Android客户端二维码">
          <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.xiaodou.android.app.moshare" target="_black">Android客户端下载</a>
        </div>
      </div>
    </div>
  </div>
  <!--phone download-->
  <div class="p-down-wrap">
    <h2>慕享</h2>
    <h3>线上学习与评价解决方案</h3>
    <a href="https://itunes.apple.com/cn/app/id1168502067?mt=8" target="_black"">IOS下载</a>
    <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.xiaodou.android.app.moshare" target="_black"">Android下载</a>
  </div>
</div>
</div>
<!--index banner end-->
<!--pro content1 begin-->
<div class="pro-content1">
    <div class="pro-content1-box w1002">
        <h3>慕享云测评</h3>
        <div class="pro-list">
            <ul>
                <li>
                    <img src="xd-official/images/pro-img1.jpg" alt="资源管理系统">
                    <div class="list-text">
                        <p>资源管理系统</p>
                        <span>课程管理</span>
                        <span>题库管理</span>
                        <span>任务管理</span>
                        <span>拓展知识</span>
                        <span>HTML可编辑</span>
                    </div>
                </li>
                <li style="margin-right: 0">
                    <img src="xd-official/images/pro-img2.jpg" alt="教务管理系统">
                    <div class="list-text">
                        <p>教务管理系统</p>
                        <span>学籍管理</span>
                        <span>注册报名</span>
                        <span>在线缴费</span>
                        <span>预警报告</span>
                        <span>学习评价报告 </span>
                        <span>学习记录报告</span>
                    </div>
                </li>
                <li>
                    <img src="xd-official/images/pro-img3.jpg" alt="教学监督">
                    <div class="list-text">
                        <p>教学监督</p>
                        <span>关键指标统计</span>
                        <span>成绩汇总</span>
                        <span>专业趋势分析</span>
                        <span>成绩汇总</span>
                        <span>成绩汇总</span>
                    </div>
                </li>
                <li style="margin-right: 0">
                    <img src="xd-official/images/pro-img4.jpg" alt="移动慕享APP">
                    <div class="list-text">
                        <p>移动慕享APP</p>
                        <span>个性推送</span>
                        <span>学习统计</span>
                        <span>随机PK</span>
                        <span>职能任务</span>
                        <span>错题统计</span>
                        <span>公开课</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--pro content1 end-->
<!--pro content2 begin-->
<div class="pro-content2">
    <div class="pro-content2-box w1002">
        <h3>慕享云平台特色</h3>
        <ul>
            <li class="pro-list1">
                <p>教学监督</p>
                <span>抓典型　作比较　看趋势</span>
            </li>
            <li class="pro-list2">
                <p>教务管理</p>
                <span>学籍管理　线上支付　在线打印</span>
            </li>
            <li class="pro-list3" style="margin-right: 0">
                <p>预警管理</p>
                <span>GPS轨迹　人像识别　账号异常</span>
            </li>
        </ul>
    </div>
</div>
<!--pro content2 end-->
</body>
</html>
