.list-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
tra	{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.connectedSortable .nav-tabs-custom ul.nav{
	padding-right:16px;
}

.form-well {
    /* min-height: 20px; */
    padding: 10px 10px 0 20px;
    margin-bottom: 70px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.table-well {
    /* min-height: 20px; */
    padding: 19px;
    margin: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/* box-success */
.box.box-success {
  border-top-color: #2dcbaf;
}

.box.box-solid.box-success {
  border: 1px solid #2dcbaf;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #2dcbaf;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}


#dropdown-index{
	width:auto;
}

th
{
    text-align:center;
}

.inline-div {
	float: left;
	width: 20%;
	text-align: center;
}
.inline-div p {
    line-height: 30px;
   	height: 30px;
   	font-size: 12px;
}
.passedCount {
       line-height: 150px;
    margin-right: 10px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 12px;
    -webkit-border-radius: 100px;
    color: #fff;
    background: #2dcbaf;
    font-size: 18px;
}