<!DOCTYPE html>
<html lang="en">
<head>
    <title>企业服务_小逗网络</title>
    <meta name="Keywords" content="小逗科技有限公司,企业管理培训,企业管理培训课程,企业内训,企业培训师,培训定制">
  <meta name="Description" content="小逗网络致力于打造全新在线学习平台，重新定义在线教育模式，提倡个性化学习，利用人工智能AI算法，智能知识图谱，打造个性化学习智适应系统，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。">
  <!-- Viewport mobile tag for sensible mobile support -->
  <link href="xd-official/images/xd-ico.png" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--css js begin-->
  <% include ../common/framework-css.ejs %>
  <% include ../common/framework-js.ejs %>
  <!--css js end-->
</head>
<body>
<!--ser top begin-->
<!--top background-->
<div class="in-part">
  <div class="in-top">
    <!--top box begin-->
    <div class="top-box w1002">
        <!--top logo begin-->
        <a href="/" class="in-logo f_l" title="北京小逗网络科技有限公司">
            <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
        </a>
        <!--top logo end-->
        <!--top nav begin-->
        <div class="top-nav">
          <ul>
            <li>
              <a href="/">首页</a>
            </li>
            <li>
              <a href="/products">产品展区</a>
            </li>
<!--            <li>
              <a href="/xddt">小逗动态</a>
            </li>-->
            <li>
              <a href="/services" class="active">企业服务</a>
            </li>
            <li>
              <a href="/joinUs">加入小逗</a>
            </li>
            <li>
              <a href="/aboutUs">关于小逗</a>
            </li>
          </ul>
        </div>
        <ul class="phoneNav">
          <li><a href="/"> 首页</a></li>
          <li><a href="/products">产品展区</a></li>
          <!--<li><a href="/xddt">小逗动态</a></li>-->
          <li><a href="/services" class="present">企业服务</a></li>
          <li><a href="/joinUs">加入小逗</a></li>
          <li><a href="/aboutUs">关于小逗</a></li>
        </ul>
        <!--导航 btn begin-->
        <div class="top-btn f_r">
            <a class="click"></a>
        </div>
        <!--导航 btn end-->
        <!--top nav end-->
    </div>
    <!--top box end-->
</div>
</div>
<!--top background end-->
<!--ser top end-->
<!--ser banner begin-->
<div class="service-banner">
    <!--<div class="ser-banner-box w1002">
        <div class="ser-main">
            <h1>小逗-云学习管理系统</h1>
            <h2>为企业  提供海量培训资源<br>为企业  快速建立专属自己的培训平台</h2>
        </div>
    </div>-->
    <img src="xd-official/images/ser-banner-test.jpg" alt="服务banner" class="banner-img">
</div>
<!--ser banner end-->
<!--ser content1 begin-->
<div class="ser-content1">
    <div class="ser-content1-box w1002">
        <h3>自定义专属您的培训平台</h3>
        <img src="xd-official/images/ser-content1-img.jpg" width="1000" height="316" alt="专属培训平台">
        <p>系统可以根据企业规模，企业性质</p>
        <p>培训诉求等自定义培训内容</p>
    </div>
</div>
<!--ser content1 end-->
<!--ser content2 begin-->
<div class="ser-content2">
    <div class="ser-content2-box w1002">
        <h3>线下活动，加入大家庭的开始</h3>
        <img src="xd-official/images/ser-content2-img.jpg" alt="线下活动" height="436px" width="1000px">
    </div>
</div>
<!--ser content2 end-->
<!--ser content3 begin
<div class="ser-content3">
    <div class="ser-content3-box w1002">
        <div class="ser-teachers">
            <ul>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li style="margin-right: 0"><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li style="margin-right: 0"><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
                <li style="margin-right: 0"><img src="xd-official/images/ser-teachers.jpg" alt="导师"></li>
            </ul>
            <div class="ser-shadow">
                <h3>豪华讲师团队</h3>
                <p>专业诊断 系统解决方案</p>
                <p>落地课程 后期深度跟踪</p>
                <img src="xd-official/images/ser-tea-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
ser content3 end
ser case begin
<div class="ser-case">
    <div class="ser-case-box w1002">
        <h3>客户案例</h3>
        <div class="cases">
            <ul>
                <li><img src="xd-official/images/case1.jpg" alt="百度"></li>
                <li><img src="xd-official/images/case2.jpg" alt="支付宝"></li>
                <li><img src="xd-official/images/case3.jpg" alt="腾讯网"></li>
                <li style="margin-right: 0"><img src="xd-official/images/case4.jpg" alt="360"></li>
            </ul>
        </div>
    </div>
</div>
ser case end-->
</body>
</html>
