<!DOCTYPE html>
<html lang="en">
<head>
  <title>在线教育平台_在线学习与测量平台|小逗网络_个性学习倡导者</title>
  <meta name="Keywords" content="小逗网络,小逗网络官网,在线教育远程教育,在线教育平台,在线教育平台有哪些">
  <meta name="Description" content="小逗网络致力于打造全新在线学习平台，重新定义在线教育模式，提倡个性化学习，利用人工智能AI算法，智能知识图谱，打造个性化学习智适应系统，完成教育领域信息化向智能化的转变，通过互联网智能化发展为教育的发展贡献力量。">
  <!-- Viewport mobile tag for sensible mobile support -->
  <link href="xd-official/images/xd-ico.png" rel="icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--css js begin-->
  <% include common/framework-css.ejs %>
  <% include common/framework-js.ejs %>
  <!--css js end-->


</head>
<body>
<!--index top begin-->
<!--top background-->
<div class="in-top">
  <!--top box begin-->
  <div class="top-box w1002">
    <!--top logo begin-->
    <a href="#" class="in-logo f_l" title="北京小逗网络科技有限公司">
      <img src="xd-official/images/xd-logo.png" alt="小逗网络" width="150" height="34">
    </a>
    <!--top logo end-->
    <!--top nav begin-->
    <div class="top-nav">
      <ul>
        <li>
          <a href="/" class="active">首页</a>
        </li>
        <li>
          <a href="/products">产品展区</a>
        </li>
        <!--                <li>
                            <a href="/xddt">小逗动态</a>
                        </li>-->
        <li>
          <a href="/services">企业服务</a>
        </li>
        <li>
          <a href="/joinUs">加入小逗</a>
        </li>
        <li>
          <a href="/aboutUs">关于小逗</a>
        </li>
      </ul>
    </div>
    <ul class="phoneNav">
      <li><a href="/" class="present"> 首页</a></li>
      <li><a href="/products">产品展区</a></li>
      <!--<li><a href="/xddt">小逗动态</a></li>-->
      <li><a href="/services">企业服务</a></li>
      <li><a href="/joinUs">加入小逗</a></li>
      <li><a href="/aboutUs">关于小逗</a></li>
    </ul>
    <!--导航 btn begin-->
    <div class="top-btn f_r">
      <a class="click"></a>
    </div>
    <!--导航 btn end-->
    <!--top nav end-->
  </div>
  <!--top box end-->
</div>
<!--top background end-->
<!--index top end-->
<!--index banner begin-->
<div class="in-part">
  <div class="in-banner">
    <img src="xd-official/images/banner-test2.jpg" class="banner-img">
  </div>
</div>
<!--index banner end-->
<!--index 在线教育2.0 begin-->
<div class="in-content1">
  <div class="in-content1-box w1002">
    <div class="in-content1-title">
      <h2>开启在线教育2.0时代</h2>
    </div>
    <div class="in-content1-img clearfix">
      <ul>
        <li class="hover-li">
          <img src="xd-official/images/content1-img1.jpg" alt="教育、互联网+" height="461" width="406" class="oHeight">
          <!--<span class="cont-span"></span>-->
        </li>
        <li class="vs"><img src="xd-official/images/content1-vs.png" alt="vs"></li>
        <li class="hover-li">
          <img src="xd-official/images/content1-img2.jpg" alt="教育、互联网+" height="461" width="406">
          <!--<span class="cont-span2"></span>-->
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<!--index 在线教育2.0 end-->
<!--index 重构五分法 begin-->
<div class="in-content2">
  <div class="in-content2-box w1002">
    <div class="in-content2-title">
      <h2>教学重构五分法</h2>
      <p>更科学 更有效</p>
    </div>
    <div class="in-content2-img">
      <ul>
        <li class="content2-li1">
          <h3>交互性学习<br>
            场景设计</h3>
          <div class="content2-p-box">
            <p>多元化的评价方式</p>
            <p>游戏化的学习场景</p>
            <p>精准定位认知边界</p>
            <p>个性推送知识分享</p>
          </div>
        </li>
        <li class="content2-li2">
          <div class="content2-p-box">
            <p>高校学科骨干参与</p>
            <p>资深命题专家把关</p>
            <p>行业大咖权威分享</p>
            <p>聚合全球公开课程</p>
          </div>
          <h3>权威性<br>
            教学内容</h3>
        </li>
        <li class="content2-li3">
          <h3>全流程学习<br>
            过程管控</h3>
          <div class="content2-p-box">
            <p>智能匹配学习任务</p>
            <p>循序渐进教学策略</p>
            <p>规范有效激励机制</p>
            <p>助力终生学习习惯</p>
          </div>
        </li>
        <li class="content2-li4">
          <div class="content2-p-box">
            <p>知识分享开阔视野</p>
            <p>校园广播陪伴学习</p>
            <p>随机PK趣味竞争</p>
            <p>成绩排行荣誉彰显</p>
          </div>
          <h3>社群化学习<br>
            氛围建设</h3>
        </li>
        <li class="content2-li5">
          <h3>周密性预警<br>
            管理防范</h3>
          <div class="content2-p-box">
            <p>GPS轨迹全面防范</p>
            <p>账号异动即时反馈</p>
            <p>预警详情详实明晰</p>
            <p>人像声纹识别准确</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="online-edu">
      <ul>
        <li class="on-li1">
          <h3>交互性学习场景设计</h3>
          <p>多元化的评价方式</p>
          <p>游戏化的学习场景</p>
          <p>精准定位认知边界</p>
          <p>个性推送知识分享</p>
        </li>
        <li class="on-li2">
          <h3>权威性教学内容</h3>
          <p>高校学科骨干参与</p>
          <p>资深命题专家把关</p>
          <p>行业大咖权威分享</p>
          <p>聚合全球公开课程</p>
        </li>
        <li class="on-li3">
          <h3>全流程学习过程管控</h3>
          <p>智能匹配学习任务</p>
          <p>循序渐进教学策略</p>
          <p>规范有效激励机制</p>
          <p>助力终生学习习惯</p>
        </li>
        <li class="on-li4">
          <h3>社群化学习氛围建设</h3>
          <p>知识分享开阔视野</p>
          <p>校园广播陪伴学习</p>
          <p>随机PK趣味竞争</p>
          <p>成绩排行荣誉彰显</p>
        </li>
        <li class="on-li5">
          <h3>周密性预警管理防范</h3>
          <p>GPS轨迹全面防范</p>
          <p>账号异动即时反馈</p>
          <p>预警详情详实明晰</p>
          <p>人像声纹识别准确</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--index 重构五分法 end-->
<!--index 告别集体教育 begin-->
<div class="in-content3">
  <div class="in-content3-box w1002">
    <div class="floor3-circle">
      <div class="circle-a"></div>
      <div class="circle-b"></div>
      <div class="circle-c"></div>
      <div class="circle-d"></div>
    </div>
    <div class="in-content3-title">
      <h3>告别集体教育</h3>
      <p>学习个体从未像今天这样被尊重</p>
    </div>
    <img src="xd-official/images/head-bg-p.png" alt="上帝之手" class="banner-img">
    <div class="in-content3-img">
      <ul>
        <li>
          <div class="box box1">
            <p>专家建设题库</p>
            <p>知识图谱</p>
            <p>关键学习行为锚定</p>
          </div>
        </li>
        <li class="cont3-li1"><span></span></li>
        <li>
          <div class="box box-line box2">
            <p>人工智能</p>
          </div>
        </li>
        <li class="cont3-li2"><span></span></li>
        <li class="cont3-li3">
          <div class="box box-line box3">
            <p>个性化学习内容</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--index 告别集体教育 end-->
<!--index 技术成果 begin-->
<div class="in-content4">
  <div class="in-content4-box w1002">
    <div class="in-content4-title">
      <h3>技术成果</h3>
    </div>
    <div class="in-content4-img">
      <ul>
        <li><img src="xd-official/images/content4-img1.jpg" alt="跨平台视频直播" width="326" height="272"></li>
        <li><img src="xd-official/images/content4-img2.jpg" alt="实时视频通讯系统" width="326" height="272"></li>
        <li  class="in-content4-li3"><img src="xd-official/images/content4-img3.jpg" alt="诊断性测评技术" width="326" height="272">
        </li>
        <li class="in-content4-li4"><img src="xd-official/images/content4-img4.jpg" alt="智慧数据分析系统" width="326"
                                         height="272"></li>
        <li class="js-li5"><img src="xd-official/images/content4-img5.jpg" alt="专属HTML5编辑器" width="326" height="272"></li>
      </ul>
    </div>
  </div>
</div>
<!--index 技术成果 end-->
<!--index 专家顾问 begin-->
<!--<div class="in-content5">
    <div class="in-content5-box w1002">
        <div class="in-content5-title">
            <h3>专家顾问</h3>
        </div>
        <div class="in-content5-cont">
            <ul class="clearfix">
                <li class="content5-img1">
                    <div class="shadow">
                        <h4>赵聃 CTO</h4>
                        <p>曾先后服务于当当网，艺龙网，参与当当网新版系统改造工作，主导
                            艺龙网火车票项目的开发和上线，设计并主导了通用订单系统。</p>
                    </div>
                </li>
                <li class="content5-img2">
                    <div class="shadow">
                        <h4>赵聃 CTO</h4>
                        <p>曾先后服务于当当网，艺龙网，参与当当网新版系统改造工作，主导
                            艺龙网火车票项目的开发和上线，设计并主导了通用订单系统。</p>
                    </div>
                </li>
                <li style="margin-right: 0" class="content5-img3">
                    <div class="shadow">
                        <h4>赵聃 CTO</h4>
                        <p>曾先后服务于当当网，艺龙网，参与当当网新版系统改造工作，主导
                            艺龙网火车票项目的开发和上线，设计并主导了通用订单系统。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<!--index 专家顾问 end-->
</body>
</html>
