/* CSS Document */
@charset "utf-8";
/*init BEGIN*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /*structural elements 结构元素*/
dl, dt, dd, ul, ol, li, /*list elements 列表元素*/
pre, /*text formatting elements 文本格式元素*/
fieldset, lengend, button, input, textarea, /*form elements 表单元素*/
th, td {
    margin: 0;
    padding: 0;
    outline: none;
}
img {
    vertical-align: top;
}
/*清除内外边距*/
a:focus {
    -moz-outline-style: none;
}

/*IE不支持*/
a:focus {
    outline: none;
}

/*很多网站都会加的属性*/
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { /*for ie*//*font:12px/1 Tahoma,Helvetica,Arial,"宋体",sans-serif;*/
    font: 12px/26px 微软雅黑, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /*用 ascii 字符表示，使得在任何编码下都无问题*/
}

/*设置默认字体*/
address, cite, dfn, em, var {
    font-style: normal;
}

/*将斜体扶正*/
code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

/*统一等宽字体*/
small {
    font-size: 12px;
}

/*小于 12px 的中文很难阅读，让 small 正常化*/
ul, ol {
    list-style: none;
}

/*重置列表元素*/
a {
    text-decoration: none;
}

/*重置文本格式元素*/
abbr[title], acronym[title] { /*注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果*/
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

/*重置表单元素*/
legend {
    color: #000;
}

/*for ie6*/
fieldset, img {
    border: none;
}

/*img 搭车：让链接里的 img 无边框*/
/*注：optgroup 无法扶正*/
button, input, select, textarea {
    font-size: 100%; /*使得表单元素在 ie 下能继承字体大小*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*重置表格元素*/
hr {
    border: none;
    height: 1px;
}

/*重置 hr*/
html {
    overflow-y: scroll;
}

/*让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁*/
/*清除float BEGIN*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
    display: block;
    zoom: 1;
}

/*清除float END*/
/*init END*/

.hidden, .hide {
    display: none;
}

/*CSS Document*/
body {
    font-size: 12px;
    line-height: 26px;
    font-family: "微软雅黑";
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.w1002, .w1004, .w1100, .w1200, .w1440 {
    margin: 0px auto;
}

.w1002 {
    width: 1002px;
}

.w1004 {
    width: 1004px;
}

.w1100 {
    width: 1100px;
}

.w1200 {
    width: 1200px;
}

.w1440 {
    width: 1440px;
}

a[href] * {
    cursor: pointer;
}

a[href] img:hover {
    filter: alpha(opacity=90); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.9; /*Firefox私有，透明度50%*/
    opacity: 0.9; /*其他，透明度50%*/
}

/**/


